@media only screen and (max-device-width: 961px) {
  h1 {
    margin-top: 2em;
    font-size: 34px;
    line-height: 1.2em;
  }

  #h {
    display: none;
  }

  #grid {
    display: none !important;
  }

  .web-only {
    display: none !important;
  }

  #intro-content-mobile {
    display: block !important;
  }

  p {
    margin-left: 12.5%;
    width: 75%;
    font-size: 20px;
  }

  .content { 
    display: block;
  }

} 

@media (min-device-width: 961px) {
  h1 {
    margin-top: 2.5em;
    font-size: 44px;
  }

  .content {
    padding-left: 12.5%;
    width: 75%; 
    display: none;
  }

  .mobile-only {
    display: none;
  }

  p {
    font-size: 22px;
    line-height: 1.5em;
  }

}

html {
  background-color: #010101;
  font-family: 'Roboto Mono', monospace;

}

body {
  color: #cccccc;
}

h1 {
  color: #26e426;
  margin-left: 12.5%;
  width: 75%; 
}

a {
  color: #26e426;
  text-decoration: none;
}

#grid {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 12.5%;
  width: 75%; 
}

.emoji  { 
  opacity: 0.8;
  float: left;
  margin-left: calc(100%/144);
  margin-right: calc(100%/144); /* Gutter width */
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width:  calc(100%/9);
  height: 100%;
  -webkit-transition: background-size .1s ease-in;
  -moz-transition: background-size .1s ease-in;
  transition: background-size .1s ease-in;
} 

.emoji:hover {
  opacity: 1;
  background-size: 100%;
}

#smile {
  background-image: url(../assets/img/sprites/face.png);
}

#smile:hover{
  background-image: url(../assets/img/sprites/face.gif);
}

#computer {
    background-image: url(../assets/img/sprites/laptop.png);
}

#computer:hover {
  background-image: url(../assets/img/sprites/laptop.gif);
}

#iphone {
    background-image: url(../assets/img/sprites/phone.png);
}

#iphone:hover {
    background-image: url(../assets/img/sprites/phone.gif);
}

#art {
  background-image:
    url(../assets/img/sprites/design.png);
}

#art:hover {
  background-image:
    url(../assets/img/sprites/design.gif);
}

#music {
  background-image: url(../assets/img/sprites/music.png);
}

#music:hover {
  background-image: url(../assets/img/sprites/music.gif);
}

#jesus {
  background-image: url(../assets/img/sprites/jesus.png);
}

#jesus:hover {
  background-image: url(../assets/img/sprites/jesus.gif);
}

#contact {
  background-image: url(../assets/img/sprites/mail.png);
}

#contact:hover {
  background-image: url(../assets/img/sprites/mail.gif);
}

#resume {
  background-image: url(../assets/img/sprites/resume.png);
}

#resume:hover {
  background-image: url(../assets/img/sprites/resume.gif);
}

#smile-content h1,
#smile-content a {
  color:#00cbfd;
}

#computer-content h1,
#computer-content a {
  color:#f5ff00;
}

#iphone-content h1,
#iphone-content a {
  color: #ff9900;
}

#art-content h1,
#art-content a {
  color: #9f00f8;
}

#music-content h1,
#music-content a {
  color: #ed00f1;
}

#jesus-content h1,
#jesus-content a {
  color: #fc0800;
}

#contact-content h1,
#contact-content a {
  color: #26e426;
}

p {
  margin-bottom: -23px;
}
